{% extends './base.html.twig' %}
{% block body %}

    <div class="row m-4" >
        <h1 class="text-success text-center">Rules!</h1>
        <div class="col-md-6  pt-5">
            <div class="card">
                <div class="card-body">
                    <div class="card-text">
                            <ul>
                                <li><h5 class="text-success">Keep it clean!</h5></li>
                                    <ul>
                                        <li>Draag schone schoenen en gespaste kleren.</li>
                                        <li>Eten en niet sluitbaren flessen/bekers niet toegestaan.</li>
                                        <li>Roken en illegalen middelen zijn verboden tijdens de lessen.</li>
                                        <li>Na het wassen, graag afdrogen zodat de kleedkamers schoon blijven.</li>
                                        <li>Graag uw dieren thuislaten.</li>
                                    </ul>
                                <li><h5 class="text-success">Privacy</h5></li>
                                    <ul>
                                        <li>Mobiele apparaten graag buiten bereik houden. (met uitzonderingen)</li>
                                        <li>Het filmen en fotograferen van anderen leden buiten privacy rechten is verboden.</li>
                                        <li>Let op uw volume tijdens het sporten zodat u anderen niet stoort.</li>
                                        <li>Fysiek en/of verbaal misbruik is niet toegestaan.</li>
                                        <li>Gebruik 1 apparaat tegelijk.</li>
                                    </ul>
                                <li><h5 class="text-success">Veiligheid</h5></li>
                                    <ul>
                                        <li>U bent verplicht om bewijs van deelnamen bij u te hebben.</li>
                                        <li>Personeel heeft recht, met gegronde redenen, om u tijdelijk of permanent te verwijderen uit de lessen.</li>
                                        <li>Persoonlijke bezittingen zoals jassen, tassen, helmen, etc. zijn niet toegestaan in de sport ruimtes.</li>
                                    </ul>
                                    
                            <ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
